/node_modules
/public/hot
/public/storage
public/images/uploads/*
public/images/files
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
!/resources/views/auth/old_emp-reg.blade.php
!/resources/views/auth/old_register.blade.php
!/resources/views/jobs/old_show.blade.php
*.zip
